@model FHNWPrototype.Application.Controllers.UIViewModels.UserAccounts.FriendshipView

@{
    ViewBag.Title = "Friendship";
}

<h2>Friendship: @Model.FirstName</h2>
<div>
<br/>LastName: @Model.LastName
<br/>Email: @Model.Email
</div>

