
    <figure id="profile_picture">
        <img id="my_picture" src="@Url.Content("~/Content/themes/designv1/images/profileMen.jpg")" alt="MyPicture" />
    </figure>
    <nav id="tags">
        <h1>MY TRENDS</h1>
        <ul>
            <li><a href="#">#chocolate</a></li>
            <li><a href="#">#marketing</a></li>
            <li><a href="#">#1stAugust</a></li>
        </ul>
    </nav>
    <nav id="documents">
        <h1>MY DOCUMENTS</h1>
        <ul>
            <li><a href="">Document 1</a></li>
            <li><a href="">Document 2</a></li>
            <li><a href="">Document 3</a></li>
            <li><a href="">Document 4</a></li>
        </ul>
    </nav>
    <nav id="favorites">
        <h1>MY FAVORITES</h1>
        <ul>
            <li><a href="">Group A 1</a></li>
            <li><a href="">Project X</a></li>
            <li><a href="">Alliance 3</a></li>
            <li><a href="">Contact Z</a></li>
        </ul>
    </nav>
