<div id="logo">
     <a href="@Url.Action("Index","UserAccounts")"><img id="logo" src="@Url.Content("~/Content/themes/designv1/images/logov2white.png")" alt="logo" /></a>
</div>
<nav id="links">
   
   
</nav>