
<div id="copyright">
    <span>BizGraph &copy; 2012</span>
</div>

<nav id="links">
        <a href="#">English(US)</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Help</a>
        <a href="#">About</a>
</nav>
