@model FHNWPrototype.Application.Controllers.UIViewModels.Publishing.PostView 
@using FHNWPrototype.Application.Controllers.UIViewModels.Publishing

@if(Model != null){
    <section id="section_@(Model.Key)">
        @Html.Partial("_partial_article_post",Model)
        @if (Model.Comments != null)
        {
            foreach (CommentView comment in Model.Comments)
            {
                comment.AllowedToDeleteComment=Model.AllowedToDeletePost;
                @Html.Partial("_partial_article_comment",comment)
            }
        }
      
    </section>
}