@model FHNWPrototype.Application.Controllers.UIViewModels.OrganizationAccounts.OrganizationAccountsView

@{
    ViewBag.Title = "OrganizationAccounts";
    Layout = "~/Views/Shared/_layout_3CC_three_centered_columns.cshtml";
}

<h2>Organization Accounts</h2>
<ul>
@foreach (KeyValuePair<String,String> organizationAccount in Model.OrganizationAccounts)
{
    <li>@Html.ActionLink(organizationAccount.Key, "OrganizationAccount", "OrganizationAccounts", new { id = organizationAccount.Value }, null)</li>
}
</ul>