@model FHNWPrototype.Application.Controllers.UIViewModels.Users.UsersView

@{
    ViewBag.Title = "Index";
}
<h2>Users</h2>
<ul>
@foreach (KeyValuePair<String,String> user in Model.Users)
{
    <li>@Html.ActionLink(user.Key, "GetUser","Users", new { id= user.Value},null)</li>
}
</ul>