
#left_column
{
    width:175px;
    height:100%;
    float:left;
    background-color:transparent;
    color:#FFFFFF;
    display:block;
    border-left:1px solid #EEEEEE;
  /*  border-right:1px solid #EEEEEE;*/
    /* padding-left:2px;
    padding-right:2px;*/
    border-right: 1px solid #EEEEEE;
}

#left_column ul
{
    width:175px;
 
}

#left_column li
{
    text-align:left;
    font-size:12px;
    clear:both;
   
}

#left_column li a
{
    display:block;
    font-size:12px;
    width:auto;
    float:left;
    
}


#left_column h1
{
   /* background-color:#006699;*/
   background-color:#0072C6;
    display:block;
    width:174px;
    height:20px;
    font-size:12px;
    font-weight:bolder;
    color:#FFFFFF;
    text-align:center;
   /* padding-left:2px;*/
    border-bottom:1px solid orange; 
    clear:both;
}

 

#left_column h2 a
{
    display:block;
    background-color:#CCCCCC;
    width:174px;
    height:16px;
    font-size:10px;
    font-weight:bolder;
    color:#000000;
    text-align:left;
    clear:both;
}
 

 #left_column ul li span a
{
    background-color:orange; 
    width:21px; 
    font-size:10px; 
    color:#FFFFFF;
    text-align:center;
    float:right;
}


 
