
#middle_column
{
    display:inline-block;
    width:570px;
    float:left;
    height:auto;
    background-color:transparent;
    overflow:hidden;
    border-left: 1px solid #AAAAAA;
    /*margin-bottom:100px;*/
}
