/*
	Title: socialsupply.com
	Component: Header
	Company: Social Supply
	Author: Jorge Luis Alvarado Flores
    Version: 0.1
	Original Version Created: 14.September.2012
	Current Version Updated: 14.September.2012
*/


header, #header{
	/*background-color:#0072C6;*/
    background-color:orange;
	/*background-image:url('themes/designv1/header.png');*/
	background-repeat:no-repeat;
	background-position: left top  ;
	min-width:998px;
	width:998px;
	height:315px;
    border:none;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
    display:block;
    /*border-bottom: 2px solid #FFFFFF;*/
}

#header h1, header h1
{
    display:block;
    width:100%;
    height:25px;
    background-color:transparent;
    font-size:12px;
}

#header ul a, header ul a
{
    display:block;
}


#brand_background
{
    width:100%;
    height:278px;
    display:block;
    background-color:White;
    top:0px;
    left:0px;
    z-index:0;
    background-position:left top;
    background-repeat:no-repeat;
    position:relative;
   /* border: 1px solid #AAAAAA;*/
}

 #my_banner
{
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    display:inline;
    z-index:50;

}

#my_logo
{
    width:160px;
    height:160px;
    background-color:White;
    border: 3px solid #FFFFFF;
    position:absolute;
    top:130px;
    left:5px;
    display:inline;
    float:left;
    z-index:100;
}


#organization_account 
{
    position:absolute;
    height:30px;
    width:200px;
    display:inline;
    /*background-color:green;*/
    top:320px;
    left:500px;
    float:left;
    z-index:100;
    text-align:left;
}

    #organization_account a 
    {
        color:#FFFFFF;
        font-weight:bold;
        text-align:left;
    }

#profile_status {
    position:absolute;
    height:30px;
    width:810px;
    display:inline;
    /*background-color:green;*/
    top:315px;
    left:475px;
    float:left;
    z-index:100;
    text-align:left;
}

 

 
#newsfeed_info {
     background-color:orange;
	/*background-image:url('themes/designv1/header.png');*/
	background-repeat:no-repeat;
	background-position: left top  ;
	min-width:998px;
	width:998px;
	height:30px;
    border:none;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
    display:block;
}


#profile_name 
{
    color:#FFFFFF;
    font-size:18px;
    font-weight:bolder;
    display:block;
    /*position:absolute;*/
    float:left;
    /*top:0;
    left:0;*/
    width:300px;
    height:30px;
    /*background-color:purple;*/
    z-index:200;
    padding-left:180px;
    text-align:left;
}

#working_at 
{
    /*background-color:darkcyan;*/
    display:block;
    float:right;
    text-align:right;
    /*top:20;
    left:200px;*/ 
    width:300px;
    height:20px;
    /*position:absolute;*/
    z-index:200px;
    padding-top:10px;
}


 

#search{
	position:absolute;
	top:70px;
	/*
	Para posicionar en la esquina de un contenedor 
	se especifica position relative al contenedor
	y luego position absolute al objeto y bottom 0
	*/
	right:280px;
	display:block;
	background-color:transparent;
	width:300px;
	height:30px;
}

#search *{
	display:inline-block; /* lo hice para desplegar los links en una sola fila */
}

  
 