/*
	Title: socialsupply.com
	Component: Main Menu
	Company: Social Supply
	Author: Jorge Luis Alvarado Flores
    Version: 0.1
	Original Version Created: 14.September.2012
	Current Version Updated: 14.September.2012
*/

#settings{
	/*width:100%;
	min-width:1000px;*/
	height:50px;
	/*background-color:#006699;*/
	background-color:#0072C6;
	top:0px;
	left:0px;
    display:block;
    clear:both;
    float:none;
}

#links 
{
    display:block;
    float:right;
    /*background-color:purple;*/
    width:250px;
    /*padding-top:5px;*/
    height:100%;

    font-weight:normal;

}

#links ul
{
    display:block;
    /*width:400px;*/
    background-color:red;
}

#links ul li
{
    display:block;
    float:left;
}

#links a {
    color:#FFFFFF;
    font-size:16px;
}

#logo 
{
    display:block;
    float:left;
    height:100%;
    width:200px;
    margin-right:10px;
}

#logo:hover
{
      /*background-color:red;*/
        background-color:#0193ff;
}

#img_logo
{
    margin-top:15px; 
    margin-left:50px;
      /*background-color:#0193ff;*/
      /*height:100%;*/

    background-image:url('images/finallogos_others.png');
    background-position:0px -41px;
    width:100%;
    height:29px;
}



#settings ul{
	/*background-repeat:repeat-x;
	background-position:left center;*/
	list-style:none;
	list-style-type:none;
	background-color:green;
}

#settings ul li{
	display:block;
	float:left;
	/*height:33px;*/
	/*width:150px;*/
	/*margin-left:5px;
	margin-right:5px;*/
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	background-color:transparent;
}

#settings ul li a{
	display:block;
	color:#FFFFFF;
 	text-align:center;
 	/*margin-top:5px;*/ 
}

#settings ul li a:hover{
	color:#FFFFFF;
 	/*background-color:transparent;*/
    font-weight:normal;
}

#settings ul li:hover{
	/*background-image:url('images/hoverbg.png');*/
	background-repeat:repeat-x;
	background-position:left;
	/*border:1px #FFFFFF solid;*/
}

.selected{
	/*background-image:url('images/selectedbg.png');*/
	background-repeat:repeat-x;
	background-position:left;
	/*border:1px #FFFFFF solid;*/
}

#notifications 
{
    display:block;
    float:left;
    background-color:transparent;
    width:300px;
    height:100%;
}

#notifications article  
{
    display:block;
    float:left;
    margin-left:10px;
}

#notifications article
{
    background-color:transparent;
    width:45px;
    height:100%;
} 

#notifications article:hover
{
    background-color:#0193ff;
    cursor:pointer;
} 
 
#notifications img 
{
    display:block;
    float:left;
    width:30px;
    height:30px;
}

#notifications span 
{
    display:block;
    float:left;
    background-color:orange;
    color:white;
    font-size:9px;
    font-weight:900;
    position:absolute;
    width:13px;
    height:13px;
    /*padding-top:0px;
    padding-left:4px;*/
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    z-index:100;
    text-align:center;
}

#notifications_newsfeed 
{
    background-image:url('images/finallogos_blue.png');
    background-position:0px 0px;
    width:45px;
    height:45px;
}

#link_chat 
{
    background-image:url('images/finallogos_blue.png');
    background-position:0px -553px;
    width:45px;
    height:45px;
}

#link_organization
{
    background-image:url('images/finallogos_blue.png');
    background-position:0px -56px;
    width:45px;
    height:45px;
}

#notifications_groups
{
    background-image:url('images/finallogos_blue.png');
    background-position:0px -220px;
    width:45px;
    height:45px;
}

#notifications_mywall
{
    background-image:url('images/finallogos_blue.png');
    background-position:0px -503px;
    width:45px;
    height:45px;
}

section#links_section 
{
    float:right;
    background-color:transparent;
    width:200px;
    height:100%;
}

section#links_section article 
{
    float:right;
    margin-right:10px;
 cursor:pointer;
 height:100%;
}

section#links_section article:hover
{
    
     background-color:#0193ff;
}


section#links_section a:link, section#links_section a:hover, section#links_section a:visited  
{
    color:#FFFFFF;
    font-weight:bolder;
    margin-top:10px;
    font-size:20px;
    text-decoration:none;
}

section#links_section span 
{
    display:block;
    float:left;
    background-color:orange;
    color:white;
    font-size:9px;
    font-weight:900;
    position:absolute;
    width:13px;
    height:13px;
    /*padding-top:0px;
    padding-left:4px;*/
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    z-index:100;
    text-align:center;
}

#link_logoff 
{
     background-image:url('images/finallogos_blue.png');
    background-position:0px -112px;
    width:45px;
    height:45px;
}


/*img.no_notification_wall 
{
    background-image:url('images/sprites.png');
    background-position:-1px -4px;
    width:30px;
    height:30px;
}

img.no_notification_chat 
{
    background-image:url('images/sprites.png');
    background-repeat:no-repeat;
    background-position:-33px -56px;
    width:30px;
    height:30px;
}

img.with_notification_wall 
{
    background-image:url("images/sprites.png");
    background-repeat:no-repeat;
    background-position:-1px -44px;
   
}

img.with_notification_chat 
{
    background-image:url("images/sprites2.png");
    background-repeat:no-repeat;
    background-position:-58px -56px;
    width:20px;
    height:20px;
}*/

/*img#img_notifications_wall 
{

}

img#img_notifications_chat
{
}*/

#notifications span.zero 
{
    display:none;
}
