/*section #chat_zone 
{
    margin-top:10px;
    display:block;
  
    
    min-height:70px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}*/


#chat_zone 
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:560px;
    min-height:80px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:transparent;
    border-top: 1px solid #DDDDDD;
    /*border-bottom: 1px solid #BBBBBB;*/
}

#middle_column #chat_zone article
{     
    border-top: 1px solid #EEEEEE;
    width:560px;
    /*height:200px;*/
    /*border-top: 1px solid #BBBBBB;*/
    /*background-color:red;*/
    color:Green;
    display:block;
    min-height:55px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    padding-top:5px;
}

#middle_column #chat_zone article.message
{
    width:560px;
    background-color:#FFFFFF;
    color:#444444;
    margin-bottom:10px;
    margin-top:10px;
    border-top:1px solid #CCCCCC;
}

 

#middle_column #chat_zone nav.actionlinks
{     
    display:block;
    clear:both;
    background-color:EEEEEE;
    text-align:left;
     font-size:11px;
 
}

#middle_column #chat_zone nav.actionlinks ul li
{     
    /*color:orange;*/
    font-weight:bolder;
    margin-left:10px;
    float:left;
    color:#888888;
}

#middle_column #post_zone nav.actionlinks ul li a
{     
    /*color:orange;*/
    /*font-weight:bolder;
    margin-left:5px;*/
       
}

 
#middle_column article h2
{
    color:#FF7D00; 
    font-weight:bolder;
    text-align:left;
    width:auto;
}

#middle_column article.post h2 a:link
{
    font-size:14px;
    width:auto;
}

 

img.profile_picture_post
{
    border:1px solid #EEEEEE;
    width:50px;
    height:50px;
    float:left;
    top:0px;
    left:0px;
    margin-left:5px;
}

 

#middle_column article p
{
    text-align:left;
    float:left;
    display:inline;
    /*background-color:Red;*/
}

img#profile_picture
{
    width:120px;
    height:120px;
    border: 4px solid #CCCCCC;
    position:relative;
    top:0px;
    left:0px;
    display:block;
    float:left;
}