/*
	Title: socialsupply.com
	Component: Main 
	Company: Social Supply
	Author: Jorge Luis Alvarado Flores
    Version: 0.1
	Original Version Created: 14.September.2012
	Current Version Updated: 14.September.2012
*/

*{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	/*display:block;*/
	background-color:transparent;
	color:#000000;
    display:block;
}

html,body {
	padding:inherit;
    margin:inherit;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size:12px;
}

img{
	border-style:none;
	border-color:transparent;
	border-width:0;
}

a, a:link, a:visited{
	/*color:#FF7D00; */
	/*color:#006699;*/
	color:#0072C6;
	text-decoration:none;
	outline:none;
}

a:hover{
    text-decoration:underline;
}


ul
{
    list-style-image:none;
    list-style-type:none;
}

header,
footer,
nav,
section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    display:block;
}

fieldset {
    border: 1px solid #AAAAAA;
}

legend {
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #CCCCCC;
    padding: 2px;
    width: 200px;
}

select {
    border: 1px solid #CCCCCC;
    padding: 2px;
    color: #444;
}

input[type="submit"] {
    background-color:#FF8C00;
    color:#FFFFFF;
    width:100px;
    height:30px;
    border-style:none;
   cursor:pointer;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1px 0px 0px 0px;
}

.display-field, 
.editor-field {
    margin: 1px 0px 0px 0px;
}

.text-box {
    width: 30px;
}

.text-box.multi-line {
    height: 20px;
}

.tri-state {
    width: 20px;
}

/*****************************/

.clear
{
    clear:both;
}

script, title
{
    display:none;
}