img.tweet_icon 
{
    width:11px;
    height:11px;
    background-image:url(images/finallogos_others.png);
    background-position:0px 0px;
    float:right;
}

img.retweet_icon 
{
    width:12px;
    height:12px;
    background-image:url(images/standard_icons.png);
    background-position:-65px -82px;
    float:right;
}

img.profile_picture_tweet
{
    border:1px solid #EEEEEE;
    width:50px;
    height:50px;
    float:left;
    top:0px;
    left:0px;
    margin-left:5px;
}

div.tweet_content article.tweet
{
    width:430px;
    /*background-color:#FFFFFF;*/
    color:#444444;
    margin-bottom:10px;
    margin-top:10px;
    display:block;
    clear:both;

}

p.tweet_text
{
    text-align:left;
    text-wrap:normal;
    word-wrap:break-word;
    display:block;
    /*background-color:purple;*/
    width:100%;
}

div.tweet_avatar
{
    width:55px;
    /*background-color:green;*/
    display:block;
    float:left;
    margin-right:5px;
}

div.tweet_content
{
    width:480px;
    /*background-color:brown;*/
    display:block;
    float:left;
    text-align:left;
}

#publishing_zone section article.tweet
{
    min-height:60px;
        border-left-style: solid; 
     border-left-width:5px; 
     /*border-left-color:#0072C6;*/ 
       border-left-color:orange; 
}

p.tweet_text
{
    display:block;
    text-align:left;
    clear:both;
    /*background-color:yellow;*/
    text-wrap:normal;
    word-wrap:break-word;
    width:100%;
    height:auto;
}
 

#publishing_zone article.tweet h2 a:link
{
    font-size:14px;
    width:auto;
}

