@model FHNWPrototype.Application.Controllers.UIViewModels.Organizations.EmployeesView

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>
 
<table>
@foreach (string employee in Model.Employees)
{
    <tr><td>@employee</td></tr>
}
</table>
