@model FHNWPrototype.Application.Controllers.UIViewModels.OrganizationAccounts.PartnershipView

@{
    ViewBag.Title = "Partnership";
}

<h2>Partnership</h2>
<table>
<tr>
<td>Name</td>
<td>Description</td>
</tr>
<tr>
<td>@Model.Name</td>
<td>@Model.Description</td>
</tr>
</table>